* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#0b1b38, rgb(20, 20, 20));
    height: 100%;
    overflow-x: hidden;
}

section {
    min-height: 85vh;
}

nav {
    position: fixed;
    background: linear-gradient(#0b1b38, black);
    backdrop-filter: blur(200px);
    top: 0;
    width: 100%;
    padding: 20;
    padding-top: 10px;
    padding-bottom: 0;
    z-index: 10;
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 800px;
    gap: 2rem;
    margin: 0 2rem;
    padding: 0.2px 10px;
}

.logo {
    height: 70px;
    width: auto;
    padding-bottom: 10px;
    display: block;
}

.nav-links {
    display: flex;
    font-family: 'Cinzel';
    font-size: 23px;
    list-style: none;
}

.nav-links a {
    display: flex;
    color: white;
    font-size: 27px;
    text-decoration: none;
    padding: 0 2rem;
    margin: 12px;
    transition: 0.3s;
    cursor: pointer;
}

.nav-links a:hover {
    color: #d4af37d2;
    transform: scale(1.1) translateY(-2px);
}

#home .hero-title h1 {
    position: relative;
    z-index: 1;
    font-family: 'Playfair Display';
    line-height: 70px;
    font-size: 58px;
    color: #D4AF37;
    transition: all 0.3s ease;
    left: 790px;
    top: 250px;
}

#home .hero-desc {
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 27px;
    color: rgb(204, 204, 204);
    left: 790px;
    top: 260px;
    font-size: 23px;
}

#home .video-bg { 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: px;
    object-fit: cover;
    z-index: -2;
}

/*event*/
.e-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 35px;
    column-gap: 2px;
    margin-top: 6.8rem;
    padding: 50px 40px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.e-card {
    height: 480px;
    width: 440px;
    border-radius: 10px;
    background: linear-gradient(#0b1b38, black);
    border: 1px solid #D4AF37;
    cursor: pointer;
    transition: .2s ease;
}

.view-btn {
    text-decoration: none;
    color: #D4AF37;
    border: #D4AF37 solid 1px;
    border-radius: 1px;
    font-size: 18px;
    padding: 15px 25px;
    margin-left: 38%;
    cursor: pointer;
    transition: .2s ease;
}

.view-btn:hover {
    background: #86702684;
}

.pro-name {
    font-family: 'Cinzel';
    font-size: 45px;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #D4AF37;
}

.e-imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: #D4AF37 solid 1px;
    margin-bottom: 4px;
    border-radius: 5px;
    padding: 15px;
    scale: 0.95;
    transition: .2s ease;
}

.e-imgs img {
    border: black solid 1.09px ;
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: .2s;
}



.e-card:hover {
    transform: scale(1.02);
    box-shadow: 5px 0.5rem 30px #86702651;
}
/*hamper*/

#hamper .cont-title {
    background: linear-gradient(#0b1b38, black);
    border-radius: 20px;
    padding: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hamper-title {
    color: #D4AF37;
    font-size: 5rem;
    font-family: 'Cinzel';
    padding: 10px;
    margin: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 5px;
    text-align: center;
}

#hamper .slider-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

#hamper .container-c {
    display: flex;
    transition: transform 0.5s ease;
    gap: 2rem;
    margin-inline: 100px;
    overflow-x: auto;
    scroll-snap-type: x-mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 1rem;
    width: auto;
    border-radius: 12px;
    order: 2;
}

.arrow {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background: #D4AF37;
    color: black;
    font-size: 2rem;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 5;
    transition: 0.3s;
}

#hamper .card{
    flex: 0 0 auto;
    height: 480px;
    width: 390px;
    border-radius: 5px;
    margin: 20px 0px;
    border: 2px solid #D4AF37;
    scale: 0.95;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
    position: relative;
}

.arrow:hover {
  background: #867026;
  color: #000;
}

.arrow.left {
  left: 30px;
}

.arrow.right {
  right: 30px;
}

#hamper .price {
    font-size: 20px;
    color: white;
}

#hamper .sale-tag {
    position: absolute;
    margin: 0 auto;
    width: max-content;
    background-color: #9f2222;
    color: #fff;
    top: 52px;
    padding-block: 1px;
    padding-inline: 20px;
    border-radius: 4px;
    font-size: 16px;
    z-index: 5;
    transition: 0.3s;
}

#hamper .buy-btn {
    position: absolute;
    bottom: 11px;   
    right: 8px;  
    padding: 4px 14px;
    background-color: #0b1b38;
    color: #D4AF37;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-family: 'Cinzel';
    cursor: pointer;
    transition: 0.3s ease;
    border: 1px solid #D4AF37;
}

#hamper .buy-btn:hover {
    background: rgb(21, 70, 120);
}

#hamper .cart {
    max-width: 45px;
    padding-right: 2px;
    transition: .3s ease; 
}


#hamper .cart-btn {
    position: absolute;
    bottom: 0;
    right: 20rem;
    background-color: #0b1b38;
    padding: 3px 14px;
    border: 1px solid #D4AF37;
    cursor: pointer;
    border-top-right-radius: 2.5rem;
    transition: .19s ease-in-out;
    opacity: 0;
    z-index: 1;
}


#hamper .cart-btn:hover {
    background: #16346b;
}

#hamper .cart-btn:hover .cart {
    transform: scale(1.3);
}

#hamper .intro{
    height: 50px;
    width: 388px;
    padding: 6px;
    top: 0px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    background: rgb(27, 27, 27);
    color: #D4AF37;
    transition: .3s;
}

#hamper .intro p {
    font-family: 'Cinzel';
    transition: .2s;
    opacity: 0;
}

#hamper .intro h1 {
    font-family: 'Cinzel';
    font-size: 30px;
}

#hamper img{
    height: auto;
    width: 388px;
    border-radius: 3px;
    transition: .5s;
}

#hamper .card:hover {
    padding: px;
    background: #0b1b38;
    transform: scale(1.04);
    box-shadow: 1px 1px 30px #8670268b;
}

#hamper .card:hover .cart-btn {
    z-index: 5;
    opacity: 1;
}

#hamper .card:hover .intro{
    height: 80px;
    width: 388px;
    margin-right: 20rem;
    bottom: 0;
    background: rgb(29, 29, 29);
}

#hamper .card:hover .intro p {
    opacity: 1;
}

#hamper .card:hover .buy-btn {
    bottom: 10px;
    padding: 20px 17px;
    right: 8px;
    
}

#hamper .card:hover .sale-tag {
  top: 82px;
}

.card:hover img{
    transform: scale(1.05) rotate(-1.5deg);
}

/*bouquets*/

.cont-bou {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bou-title {
    color: #D4AF37;
    font-size: 5rem;
    font-family: 'Cinzel';
    padding: 10px;
    margin: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 3px;
    text-align: center;
}

.bou-container {
    display: flex;
    height: 35rem;
    overflow-y: auto;
    padding-block: 15px;
    padding-inline: 30px;
    border-radius: 10px;
    row-gap: 20px;
    column-gap: 1px;
    margin-inline: 115px;
    margin-bottom: 50rem;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    box-shadow: 1px 1px 10px #867026;
    transition: 0.3s;
    cursor: pointer;
    
}

.bou-container:hover {
    box-shadow: 1px 1px 40px #867026;
}

.bou-card {
    position: relative;
    flex: 0 0 auto;
    width: 20rem;
    height: 25rem;
    border-radius: 10px;
    overflow: hidden;
    background: #16346b;
    cursor: pointer;
}

#bouquet .sale-tag {
    position: absolute;
    margin: 0 auto;
    width: max-content;
    background-color: #9f2222;
    color: #fff;
    padding-block: 1px;
    padding-inline: 20px;
    border-radius: 4px;
    font-size: 16px;
    z-index: 5;
    transition: 0.3s;
}

.bou-card img {
    height: 20rem;
    width: auto;
    display: block;
    border-radius: 3px;
    transition: .5s;
}




